.g-clearfix {
	content: "" !important;
	display: table !important;
	clear: both !important;
}

.g-hidden {
	display: none !important;
}

.g-input-field-error {
	outline: 2px solid red !important;
}

$edit-button-picture: url('https://www.librarything.com/pics/edit-pencil.gif');