.l-profile__user-avatar, .l-profile__user-name, .l-profile__user-profession {
	text-align: center;
	margin-top: 20px;
}

.b-user-avatar {
	display: inline-block;
	position: relative;
	text-align: center;
}

.b-user-avatar__image {
	border-radius: 50%;
	border: 2px solid grey;
	display: block;
	width: 80px;
	height: 80px
}

.l-profile__trusted-count {
	text-align: center;
}

.b-trusted-count {
	position: relative;
	top: -7px;
	display: inline-block;
	background-color: rgba(29, 29, 29, 0.62);
	padding: 1px 10px;
	border-radius: 40%;
}

.b-trusted-count__text {
	font-size: 0.85rem;
	color: white;
}

.b-user-name {
	position: relative;
	display: inline-block;
	height: 22px;
}

.b-user-name__edit-button {
	top: 0;
}

.b-edit-button {
	cursor: pointer;
	position: absolute;
	right: -30px;
	width: 20px;
	height: 20px;
	background: $edit-button-picture;
}

.b-edit-elements__edit-field {
	position: relative;
	display: inline-block;
}

.b-edit-elements__edit-input {
	display: inline-block;
	height: 20px;
	padding: 0;
	border: 1px solid grey;
	width: 200px;
}
 
.b-edit-elements__confirm-button {
	cursor: pointer;
	font-size: 1rem;
	position: absolute;
	right: -60px;
	top: 0;	
	text-align: center;
	border-radius: 6px;
	margin-left: 10px;
	width: 50px;
	height: 20px;
	border: 1px solid grey;
}

.b-edit-elements__confirm-button-text {	
	vertical-align: middle;	
}

.b-user-profession {
	display: inline-block;
}

.b-user-profession__icon {
  	vertical-align: middle;
	display: inline-block;
}

.b-user-profession__text {	
  	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	font-size: 1.2rem;	
	color: green;	
}

.b-user-profession__icon-image {
	display: block;
}