.l-profile__contacts {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
}

.b-contacts {
	font-size: 1.3rem;
}

.b-contacts__contact {
	margin-top: 20px;
}

.b-contacts__contact-value {
	margin-top: 10px;
}